<nav *ngIf="nav.visible" class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-bottom:2px;padding-top:2px;">
    <a class="navbar-brand" routerLink='/'>K-eCommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink='orderlist'>Your Orders History
                    <span class="sr-only">(current)</span>
                    <span class="badge badge-primary badge-pill bg-danger">{{ orderNum }}</span>
                </a>
            </li>
        </ul>
        <div class="navbar-text" style="padding-bottom: 0px; padding-top: 0px;">
            <form class="form-inline" #f="ngForm" (ngSubmit)="save(f.value)">
                <div class="input-group mr-sm-5">
                    <!-- <input  name="input" type="input" placeholder="Search..." aria-label="input"> -->
                                          


                    <input id="typeahead-format" type="text" name="searchName" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter" />
                    <!-- <input type="hidden" name="productid"  [(ngModel)]="model"> -->
                    <!-- <pre>Model: {{ model | json }}</pre> -->
                    <div class="input-group-prepend">
    
                        <button class="input-group-text">Search</button>
                        
                    </div>
                </div>
            
           
                <div class="mr-sm-5">
                    <a routerLink='/cart'>
                        <i class="fa fa-2x  fa-cart-arrow-down">
                            <span class="badge badge-primary badge-pill badge-cart bg-danger ">
                                {{ cartNumber }}
                            </span>
                        </i>

                    </a>
                </div>
                <div class="mr-sm-3" style="padding-top: 20px">
                    <p class="btn btn-sm btn-outline-success" style="margin-right: 3px;">
                        <app-login></app-login>
                    </p>

                    <p class="btn btn-sm btn-outline-secondary">
                        <app-register></app-register>
                    </p>
                </div>
            </form>

        </div>

      
        <!-- <pre>Model: {{ model | json }}</pre> -->
    </div>
</nav>