<nav *ngIf="nav.visible" class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-bottom:2px;padding-top:2px;">
    <a class="navbar-brand" routerLink='/'>K-eCommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink='orderlist'>Your Oders History
                    <span class="sr-only">(current)</span>
                    <span class="badge badge-primary badge-pill bg-danger">4</span>
                </a>
            </li>
        </ul>
        <div class="navbar-text" style="padding-bottom: 0px; padding-top: 0px;">
            <form class="form-inline" action="http://192.168.137.130:8080/search" method="post">
                <div class="input-group mr-sm-5">
                    <input class="form-control " name="input" type="input" placeholder="Search..." aria-label="input">
                    <div class="input-group-prepend">
                        <button class="input-group-text">
                            <span id="">Go!</span>
                        </button>
                    </div>
                </div>
                <div class="mr-sm-5">
                    <a routerLink='/cart'>
                        <i class="fa fa-2x  fa-cart-arrow-down">
                            <span class="badge badge-primary badge-pill badge-cart bg-danger ">4</span>
                        </i>
                        
                    </a>
                </div>
                <div class="mr-sm-3" style="padding-top: 20px">
                    <p class="btn btn-sm btn-outline-success" style="margin-right: 3px;">
                        <app-login></app-login>
                    </p>

                    <p class="btn btn-sm btn-outline-secondary">
                        <app-register></app-register>
                    </p>
                </div>
            </form>
        </div>
    </div>
</nav>