<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink='/'>K-eCommerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="#">Your Oders History <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="navbar-text">
                <form class="form-inline">
                    <div class="input-group mr-sm-5">
                        <input class="form-control " type="search" placeholder="Search..." aria-label="Search">
                        <div class="input-group-prepend">
                            <button class="input-group-text">
                                <span id="">Go!</span>
                            </button>
                        </div>
                    </div>
                    <div class="mr-sm-5">
                        <a href="#">
                            <i class="fa fa-2x  fa-cart-arrow-down"></i>
                        </a>
                    </div>
                    <div class="mr-sm-3">
                        <a routerLink='/login'>
                            <span >login</span>
                        </a>
                        |
                        <a href="#">
                            <span>register</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </nav>