<footer class="footer-distributed">

  <div class="footer-left">

    <h3>K-eCommerce
      <span>Web-site</span>
    </h3>

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Blog</a>
      ·
      <a href="#">Pricing</a>
      ·
      <a href="#">About</a>
      ·
      <a href="#">Faq</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">K-eCommerve &copy; 2018</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        <span>KASIKORN Business-Technology Group KBTG Building</span> Nonthaburi , Thailand</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+1 555 123456</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a href="K-eCommerve@kbtg.tech">K-eCommerve@kbtg.tech</a>
      </p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      To be a technology leader that build a totally digital bank of the future and provide customers with the abilities to access
      .
    </p>

    <div class="footer-icons">

      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fa fa-github"></i>
      </a>

    </div>

  </div>

</footer>