<div class="container p-5">
  <!-- Content here -->
  <blockquote class="blockquote text-right">
    <div class="row">

      <div class="col">
        <h1>Order History</h1>
      </div>
      <div class="col">
        <h2>userName</h2>
      </div>

    </div>
    <footer class="blockquote-footer">Do something
      <cite title="Source Title">EiEi</cite>
    </footer>
  </blockquote>
  <div class="row">
    <div class="col">
     
      
      <table class="table table-hover border">
        <thead class="thead-light">
          <tr>
            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>
            <th scope="col">Total Price</th>
            <th scope="col">Paid By</th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">11/06/2018</th>
            <td>Delivered</td>
            <td>2500 THB</td>
            <td>QR Code</td>
            <td>
              <!-- Button for viewing order detail -->
              <app-orderdetail></app-orderdetail>
            </td>
          </tr>
          <tr>
            <th scope="row">11/06/2018</th>
            <td>
              <p class="wordwarp" style="width: 179px">
                Delivered
              </p>
              
            </td>
            <td>2500 THB</td>
            <td>QR Code</td>
            <td>
              <!-- Button for viewing order detail -->
              <app-orderdetail></app-orderdetail>
            </td>
          </tr>
          <tr>
            <th scope="row">11/06/2018</th>
            <td>Delivered</td>
            <td>2500 THB</td>
            <td>QR Code</td>
            <td>
              <!-- Button for viewing order detail -->
              <app-orderdetail></app-orderdetail>
            </td>
          </tr>
          <tr>
            <th scope="row">11/06/2018</th>
            <td>Delivered</td>
            <td>2500 THB</td>
            <td>QR Code</td>
            <td>
              <!-- Button for viewing order detail -->
              <app-orderdetail></app-orderdetail>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- </span> -->
    </div>
  </div>
</div>