<html>
<head>
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
</head>
<body>

  <img class="bg" src="{{imageSrc}}" alt="bg">

  <div class="centered">
    <div class="site-wrapper">


      <div class="site-wrapper-inner">

        <div class="cover-container">

          <main role="main" class="cover-distributed inner cover">


            <h3 class="cover-heading" >K-eCommerce </h3>
            <h5> &bull; Think Different &bull;</h5>
           
         

            <p class="p-3">
              <a href="#" class="btn btn-lg btn-secondary">Start shopping</a>
            </p>
            
            <div class="content">
                <div class="content__container">
                  <p class="content__container__text">
                    let's
                  </p>
  
                  <ul class="content__container__list">
                    <li class="content__container__list__item">Shop</li>
                    <li class="content__container__list__item">Pay</li>
                    <li class="content__container__list__item">Shop</li>
                    <li class="content__container__list__item">Pay</li>
                  </ul>
                </div>  
              </div>
              
          </main>
        </div>

      </div>

    </div>

  </div>
  <footer>
    <h2>
      <i>Power by:</i> KASIKORN Business-Technology Group KBTG
    </h2>
    <a class="tzine" href="">Head on to our
      <i>Web-site
        <b>K-eCommerve</b>
      </i>
    </a>
  </footer>

</body>

</html>