<div class="p-3">
</div>


<header>

  <div class="blog-header">
    <div class="container">
      <h1 class="blog-title">Refund</h1>
      <p class="lead blog-description">Products ordered on June 22,2018. Redund will be issued to user as a K-eCommerce gift card/money.</p>
    </div>
  </div>
</header>


<main role="main" class="container">

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post">
        <h2 class="blog-post-title">Terms and conditions for refund</h2>
        <p class="blog-post-meta">January 1, 2014 by
          <a href="#">K-eCommerce</a>
        </p>

        <p>"Change of mind" includes purchases you have made in error eg accidentally ordered the wrong size or colour, items
          that don't fit the way that you would like or unwanted gifts.</p>
        <hr>
        <p>
          We will accept a change of mind return provided it meets the following guidelines:
        </p>
        <ul>
          <li>Return within 30 days.</li>
          <li>Return with proof of purchase.</li>
          <li>Item must be unworn, unwashed, unused with all original tags/labels attached.</li>
          <li> Protective hygiene sticker must be in place for swimwear returns</li>
          <li>Returns must be made within the country of purchase</li>
        </ul>

        <blockquote>
          <p>
            <strong>Remarks:</strong> This depends on a monthly payment cycle and refund policy of relevant banks/companies (after
            two billing cycles have passed and you still have not received your refund, please contact your local bank for
            assistance).
          </p>
        </blockquote>
        <p>Etiam porta
          <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum
          nulla sed consectetur.</p>

        <br>
        <!-- How to return purchased merchandise -->
        <h2>How to return purchased merchandise</h2>

        <p>To ensure convenience for our customers who do the online shopping via www.k-ecommerce.com/th, the following two
          options for returning your purchased merchandise have been made available:</p>
        Return your purchased items via online channel
        <ul>
          <li>Complete a merchandise return form at this link: www.uniqlo.com/th/store/returnportal to obtain a merchandise return
            code.
          </li>
          <li>Provide the details of the merchandise return form (at the end of the receipt of the merchandise) and attach it
            to the package of the merchandise of which return is being requested.</li>
          <li>Have the merchandise shipped**along with a completed receipt to: UNIQLO RETURNS DEPARTMENT 11/23, Village Group
            No. 9, Tambon Bang Chalong, Bang Phlee District, Samut Prakan 10540 Thailand </li>
        </ul>
        <p>Merchandise of which return or replacement is being requested must be covered by the terms and conditions for return
          or replacement of merchandise.</p>
      </div>

    </div>
    <!-- /.blog-main -->

    <aside class="col-sm-3 ml-sm-auto blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4 class="sidebar">About</h4>
        <p>Refund Bra BraBraBra BraBraBra BraBraBra BraBraBra BraBra.</p>
      </div>

      <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li>
            <a href="#">GitHub</a>
          </li>
          <li>
            <a href="#">Twitter</a>
          </li>
          <li>
            <a href="#">Facebook</a>
          </li>
        </ol>
      </div>
    </aside>
    <!-- /.blog-sidebar -->

  </div>
  <!-- /.row -->


  <!-- /.container -->

  <!-- refund item -->
  <div class="blog-post" *ngFor="let refund of filteredProducts let i = index">
    <h2 class="blog-post-title">Refund item</h2>
    <p class="blog-post-meta">Purchases on {{refund.date | date}} by
      <a href="#">Username</a>
    </p>
    <form #userForm = "ngForm"  (ngSubmit)="processForm(userForm.value)">
      <div class="container">
        <div class="row ">
          <div class="col-8">
            <div class="card" style="width: auto;">
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="pt-2">
                      <img class="rounded img-thumbnail" src="{{refund.pro_image_path}}"
                        alt="Card image cap" style="width:auto;height:auto;">
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="container">
                      <div class="row p-1">
                        <h3 class="font-weight-bold p-1">{{refund.product_name}}</h3>
                      </div>
                      <div class="row">
                        <div class="col-5">
                          <p class="font-weight-bold">
                            Price:
                          </p>
                        </div>
                        <div class="col-sm">
                            {{ refund.price | number }} THB
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-5">
                          <p class="font-weight-bold">
                            Purchases Date:</p>
                        </div>
                        <div class="col-sm">
                            {{refund.date | date}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-5">
                          <p class="font-weight-bold">
                            Order ID:</p>
                        </div>
                        <div class="col-sm">
                            {{refund.order_id }}
                           
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-5">
                          <p class="font-weight-bold">
                            Amount: </p>
                        </div>
                        <div class="col-sm">
                          <!-- <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                            <option selected>Choose...</option>
                            
                              <option *ngFor="let i of numbers">{{i}}</option>
                            
                          </select> -->
                          
                          <!-- <input type="hidden" id="custId" name="itemid" value="{{amount}}" ngModel> -->
                          <!-- <input type="text" name="someData" value="asd"  ngModel/> -->
                          <input type="hidden" name="itemid"  [ngModel] = "refund.item_id">
                          <input type="hidden" name="orderid"  [ngModel] = "refund.order_id">
                          <input type="hidden" name="productid"  [ngModel] = "refund.product_id">
                          <!-- <input type="text" id="eyes" name="Amount" value="refund.order_id" style="width:100% " ngModel/> -->
                          <input type="number" id="eyes" name="Amount" placeholder="max: {{amount}}" min="1" max="{{amount}}" style="width:100% " ngModel/>
                          <!-- <textarea class="form-control" name="itemid" rows="7" ngModel></textarea>
                          <textarea class="form-control" name="Amount" rows="7" ngModel></textarea> -->
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="card-body">


                    <h4 class="card-title">Product Detail</h4>
                    <p class="card-text">{{refund.product_description }}.</p>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" routerLink='/orderlist' class="btn btn-primary" >Back to order</button>
                  </div>

              </div>
            </div>


          </div>
          <div class="col-4">

            <div class="form-group">
              <label for="exampleFormControlTextarea1 " class="font-weight-bold"> Reason</label>
              <textarea class="form-control" name="reason" rows="7" ngModel></textarea>
              <div class="row d-flex justify-content-end p-2">
                <div class="px-2">
                  <button type="submit" class="btn btn-danger">Cancel</button>
                </div>
                <div class="px-2">
                  <button type="submit" class="btn btn-success" >Submit</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>


  </div>
</main>