.borderless td, .borderless th {
    border: none;
    align: center;
}
.card {
	margin-bottom : 10px;
}
.name{
	color:  #3a3a3a;
	font: normal 36px 'Cookie', cursive;
	margin-left: 25px;
}
.btnName{
	color:  #ffffff;
	font: normal 20px 'Cookie', cursive;

}
.sticky-top{
	top: 40px;
}

.imgSize{
	margin: 5px;
    float: left;
	width: 97%;
    height: 255px;
}

.imgSize:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.05);
}
