<!--call advertisement-->
<app-advertise></app-advertise>

<div class="container-fluid">
  <h1 style="margin-top: 2px">Most Popular</h1>
  <hr>
  <div class="container-fluid">
    <table class="table borderless">
      <tbody>
        <tr>
          <td>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://media.gucci.com/style/DarkGray_Center_0_0_800x800/1520532907/524297_9RO40_2072_001_100_0000_Light-Suede-Square-G-and-faux-fur-slipper.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Suede Square G and faux fur slippe</h5>
                <a href="#" class="btn btn-primary">Add cart</a>
                <a href="#" class="btn btn-light pull-right">Details</a>
              </div>
            </div>
          </td>
          <td>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://media.gucci.com/style/DarkGray_Center_0_0_800x800/1520532907/524297_9RO40_2072_001_100_0000_Light-Suede-Square-G-and-faux-fur-slipper.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Suede Square G and faux fur slippe</h5>
                <a href="#" class="btn btn-primary">Add cart</a>
                <a href="#" class="btn btn-light pull-right">Details</a>
              </div>
            </div>
          </td>
          <td>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://media.gucci.com/style/DarkGray_Center_0_0_800x800/1520532907/524297_9RO40_2072_001_100_0000_Light-Suede-Square-G-and-faux-fur-slipper.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Suede Square G and faux fur slippe</h5>
                <a href="#" class="btn btn-primary">Add cart</a>
                <a href="#" class="btn btn-light pull-right">Details</a>
              </div>
            </div>
          </td>
          <td>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://media.gucci.com/style/DarkGray_Center_0_0_800x800/1520532907/524297_9RO40_2072_001_100_0000_Light-Suede-Square-G-and-faux-fur-slipper.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Suede Square G and faux fur slippe</h5>
                <a href="#" class="btn btn-primary">Add cart</a>
                <a href="#" class="btn btn-light pull-right">Details</a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://media.gucci.com/style/DarkGray_Center_0_0_800x800/1520532907/524297_9RO40_2072_001_100_0000_Light-Suede-Square-G-and-faux-fur-slipper.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Suede Square G and faux fur slippe</h5>
                <a href="#" class="btn btn-primary">Add cart</a>
                <a href="#" class="btn btn-light pull-right">Details</a>
              </div>
            </div>
          </td>
          <td>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://media.gucci.com/style/DarkGray_Center_0_0_800x800/1520532907/524297_9RO40_2072_001_100_0000_Light-Suede-Square-G-and-faux-fur-slipper.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Suede Square G and faux fur slippe</h5>
                <a href="#" class="btn btn-primary">Add cart</a>
                <a href="#" class="btn btn-light pull-right">Details</a>
              </div>
            </div>
          </td>
          <td>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://media.gucci.com/style/DarkGray_Center_0_0_800x800/1520532907/524297_9RO40_2072_001_100_0000_Light-Suede-Square-G-and-faux-fur-slipper.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Suede Square G and faux fur slippe</h5>
                <a href="#" class="btn btn-primary">Add cart</a>
                <a href="#" class="btn btn-light pull-right">Details</a>
              </div>
            </div>
          </td>
          <td>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://media.gucci.com/style/DarkGray_Center_0_0_800x800/1520532907/524297_9RO40_2072_001_100_0000_Light-Suede-Square-G-and-faux-fur-slipper.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Suede Square G and faux fur slippe</h5>
                <a href="#" class="btn btn-primary">Add cart</a>
                <a href="#" class="btn btn-light pull-right">Details</a>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>