<div *ngIf=" showLoader; else showPage ">

  <div class="container">
    <div class="row " style="padding-top: 10%; padding-bottom: 20%">
      <div class="loader"></div>
    </div>

  </div>


</div>

<ng-template #showPage>

  <!--call advertisement-->

  <app-advertise></app-advertise>

  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-3" style="padding-left: 30px">
        <!-- <div class="col-sm-12"> -->
        <div class="sticky-top">
          <div class="list-group">

            <button type="button" class="btn btn-dark">
              <div class="btnName">
                Category
              </div>
            </button>
            <!-- <a routerLink="/" [queryParams]="{ id: 1 }" class="list-group-item list-group-item-action">test</a> -->
            <a routerLink="/" class="list-group-item list-group-item-action"> All Categories </a>
            <a *ngFor="let categorys of category" routerLink="/" [queryParams]="{ category: categorys.category_id , name: categorys.category_name}"
              class="list-group-item list-group-item-action">
              {{categorys.category_name}}</a>

          </div>
        </div>
        <!-- </div> -->
      </div>
      <div class="col-lg-9">
        <!-- head -->
        <div class="row" style="margin-bottom: 13px">
          <h1 class="name">Most Popular [ {{categoryName}} ]</h1>
        </div>
        <hr>
        <!-- data-item -->
        <div class="row">
          <div class="container-fluid" style="margin-left: 13px">
            <div class="row ">
              <div class="col-sm-12">

                <div class="container-fluid">
                  <div class="row ">
                    <ng-container *ngFor="let products of filteredProducts; let i = index;">
                      <div class="col">

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top imgSize" src="{{products.url}}" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="height: 46.67px;">{{products.product_name}}</h5>
                            <p class="btn btn-primary" (click)="addItem(products.product_id)">
                              Add cart
                            </p>
                            <p class="btn btn-outline-secondary pull-right" ngbPopover="{{products.product_description}}" popoverTitle=" Price: {{products.price}} THB">
                              Details
                            </p>
                          </div>
                        </div>

                      </div>
                      <div *ngIf="(i+1)%3===0" class="w-100"></div>
                    </ng-container>

                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>