<div class="container-fluid">
    <h1>Your Cart</h1>
<div class="row">
    <div class="col-lg-7" >
        <table class="table table-hover border" >
            <thead class="thead-light ">
                <tr class="d-flex">
                    <th class="w-10">Item name</th>
                    <th class="w-20">Item Description</th>
                    <th class="w-20"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex">
                    <td class="w-10">iPhone X 64GB</td>
                    <td class="w-20"> 
                        Cras justo odiras justo odiras justo odiras justo odiras justo odiras justo odiras justo odiras justo odiras
                              justo odiras justo odiras justo odiras justo odiras justo odiras justo odiras justo odiras justo odiras justo
                              odiras justo odiras justo odiras justo odio
                    </td>
                    <td class="w-20">
                        <Button class="btn btn-primary">add more</Button>
                        <button class="btn btn-delete"> delete</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>

    <div class="col-lg-5" >
        
        <table class="table">
            <thead>
                <tr>
                    <td colspan="3">Summery Details</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" >
                        <img 
                        class="imgSize"
                        src="https://www.att.com/catalog/en/skus/images/apple-iphone%20x-space%20gray-450x350.png" 
                        alt="">
                    </td>
                    <td style="max-width: 30%;">
                        <tr>1111111111111111111111111</tr>
                        <tr>2</tr>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
</div>