.borderless td, .borderless th {
    border: none;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 15px;
    margin: 5px;
}
.imgSize{
    width: 10rem;
    margin: 4px;
}
.imgSize:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
  }

.btnSize {
    font-weight: 300;
    margin: 4px;
    font-size: 13px;
}

.header {
    background-color: rgb(221, 223, 217);
    height: 40px;
    width: 100%;
    padding-top: 6px;
    border-radius: 4px;
}
.borderDiv{
    border: 1px solid black;
    padding-top: 1px;
    border-radius: 4px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.hrS {
    color: blue;
    margin-left: 10%;
    margin-right: 10%; 
}
