<div class="container-fluid">
    <h1>Your Cart</h1>
<div class="row">

    <div class="col-lg-7">

        <table class="table">
        <tr>
            <td>Item name</td>
            <td>Item Discription</td>
            <td>ACtion</td>
        </tr>
        <tr>
            <td>w</td>
            <td>w</td>
            <td>w</td>
            
        </tr>
        <tr>
            <td>w</td>
            <td>w</td>
            <td>w</td>
        </tr>
        <tr>
            <td>w</td>
            <td>w</td>
            <td>w</td>
        </tr>
    
        </table>
    </div>

    <div class="col-lg-5">
        
        <table class="table">
            <thead>
                <tr>
                    <td colspan="3">Summery Details</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">1</td>
                    <td >
                        <tr>1</tr>
                        <tr>2</tr>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
</div>