
<main role="main" class="container-fluid" >
    <h1 style="margin: 30px">Your Cart</h1>
    <hr>
<div class="row">
    <div class="col-lg-7"  style="margin-right: 50px; margin-left: 10px">
        <table class="table table-hover border" >
            <thead class="thead-light ">
                <tr >
                    <th style="width: 250px;"> Product name</th>
                    <th style="width: 300px;"> Description</th>
                    <th style="width: 20px;"> Amount </th>
                    <th style="width: 180px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let carts of cartItem">
                    <td >{{ carts.product_name }}</td>
                    <td > {{ carts.product_description }}
                    </td>
                    <td> {{ carts.cart_amount }}</td>
                    <td style="padding: 4px">
                        <Button routerLink="/item" class="btn btn-primary btnSize">add more</Button>
                        <button class="btn btn-danger btnSize"> delete</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
        <div class="col-lg-4 borderDiv" >
            
        <div class="header">
            <h5 style="color: forestgreen; text-align: center">
                Summery Details
            </h5>
        </div>
        <div *ngFor="let carts of cartItem; let i = index">
        <div class="row">
                <div class="col-6 ">
                    <img 
                        class="imgSize pull-right"
                        src="{{carts.pro_image_path}}" 
                        alt="">
                </div>
                <div class="col-6 "><br>
                    <span>
                        <strong>
                            {{carts.product_name}}
                        </strong>
                    </span>
                    <br><br>
                    <span>
                        price: {{carts.price}} THB
                    </span>
                </div>
            </div>
            <div *ngIf="i !== 5">
                <hr class="hrS" #show>
            </div>
            </div>
<!-- Total path -->
            <hr>
            <div class="row" style="margin: 10px;">
                <div class="col-7" style="text-align: center;">
                    <span>
                        SubTotal: {{cartPrice}} THB
                    </span>
                </div>
                <div class="col-5"  style="text-align: center;">
                    <span>
                        VAT: 7 %
                    </span>
                </div>
                <br><br>
                <div class="col-12" style="font-size: 20px">
                    <span>
                        <strong>
                            Total : {{cartTotalPrice}} THB      
                        </strong>
                    </span>
                </div>

                
        </div>
        <hr>
                <div class="col-md-12" style="margin-top: 3%">
                    <div class="row">
                        <div class="col-6">
                            <strong>
                                Check out please click
                            </strong>
                        </div>
                        <div class="col-6" style="margin-bottom: 3%">
                            <app-pay-option></app-pay-option>
                        </div>
                    </div>
                </div>
        
        </div>
</div>
</main>