<div class="container-fluid">
<div style="padding-top:2%; padding-left: 0.5%">
  <h1>
    Product Details
  </h1>
  <hr>
</div>
  <div class="row" style="margin-top: 1.5%" >
  <div class="col-lg-4">
    <div class="col-12" >
      <img class="img-fluid " src="{{ productIMG }}" > 
    </div>
  </div>
  <div class="col-lg-7">
    <div class="col-12 card" style="height: 100%; padding-left: 0%; padding-right: 0%;">
  <!-- header-details -->
      <div class="card-header">
        <h3>
          <div class="row">
            <div class="col-6" style="text-align: left; margin-bottom: 0%">
              <p style="margin-bottom: 0%" > {{ productName }} </p>
            </div>
            <div class="col-6" style="text-align: right; margin-bottom: 0%">
              <p style="margin-bottom: 0%"> Price: {{ productPrice | number }} THB </p>
            </div>
          </div>
        </h3>
      </div>
  <!-- body-details -->
      <div class="card-body">
        <h5>Details</h5>
        <p >
          {{ productDes }}
        </p>
      </div>
  <!-- footer-details -->
  <div class="input-group mb-3" style="padding-left: 25%; padding-right: 25%" >
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" (click)="plus()">+</button>
      </div>
      <!-- <input style="text-align: center" type="button" class="form-control" value="Add {{ numberItem }} to cart"> -->
      <button class="form-control btn btn-outline-primary" (click)="addItemDet(productID,numberItem)"> 
        Add 
        <strong>
          {{ numberItem }} 
        </strong>
        to cart 
      </button>
      <div class="input-group-append">
          <button class="btn btn-outline-secondary"(click)="minus()">-</button>
      </div>
  </div>
        
    </div>
  </div>

  </div>
</div>