<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">K-Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            
          <li class="nav-item active">
            <a class="nav-link" routerLink='/../admin/main'>Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <!-- <div class="row">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-secondary dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Products</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">Add products</button>
                    <button class="dropdown-item">Delete products</button>
                    
                  </div>
                </div>
              </div>
                        
            </div> -->
          <li class="nav-item">
            <a class="nav-link" routerLink='/../admin/product'>Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink='/'>Refund</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>